<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false) | safe }}" />
    {% endblock css %}
</head>

<body class="hack dark main container">
    {% block content %} {% block header %}
    <header class="nav-header">
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="navbar">
            <div class="nav-links">
                {% for item in config.extra.radion_menu %}
                <a itemprop="url"
                    class="{% if item.url | replace(from='$BASE_URL', to=config.base_url)==current_url %}active{% endif %}"
                    href="{{ item.url | safe | replace(from='$BASE_URL', to=config.base_url) | safe }}">
                    <span itemprop="name">{{ item.name }}</span></a>
                {% endfor %}
            </div>
        </nav>
        <div class="user-actions-container">
            {% if config.extra.enable_search %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                class="search-icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
            <input type="text" id="search" placeholder="Search..." />
            <div class="search-results">
                <div class="search-results__items"></div>
            </div>
            {% endif %} {% if config.extra.theme | default(value="toggle") ==
            "toggle" %}
            <a id="dark-mode-toggle" onclick="toggleTheme(); event.preventDefault();" href="#">
                <img src="{{ get_url(path='icons/sun.svg') }}" id="sun-icon" style="filter: invert(1)"
                    alt="Light mode" />
                <img src="{{ get_url(path='icons/moon.svg') }}" id="moon-icon" alt="Dark mode" />
            </a>
            {% endif %}
            {% if config.extra.github %}
            <a href="{{ config.extra.github }}" class="feed-icon" rel="noopener noreferrer">
                <img src="{{ get_url(path='icons/github.svg') }}" id="github-icon" alt="GitHub" class="social-icon" />
            </a>
            {% endif %}
        </div>
        {% set theme = config.extra.theme | default(value="toggle") %}
        <!-- Set the correct theme in the script -->
        <script src="{{ get_url(path='js/toggle-theme.js' ) }}"></script>
        {% if theme == "dark" %}
        <script>
            setTheme("dark");
        </script>
        {% elif theme == "light" %}
        <script>
            setTheme("light");
        </script>
        {% elif theme == "auto" %}
        <script>
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                setTheme("dark");
            } else {
                setTheme("light");
            }
        </script>
        {% else %}
        <script>
            setTheme(getSavedTheme());
        </script>
        {% endif %}
    </header>
    {% endblock header %}
    <main>
        <div>
            {{ section.content | safe }}
        </div>
    </main>
    {% endblock content %}
</body>

</html>
